# See http://help.github.com/ignore-files/ for more about ignoring files.

*.swp

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
tokens.json

src/**/*.css

*.sln*
*.sln
*.csproj

*.idea
*.idea*

*.rdb

.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
