.NavBar {

    $blueColor: #2F69C6;
    $greyColor: #eeeeee;
    $linkColor: white;
    
    .navbar-default {
        background-color: $blueColor;
        border-color: $greyColor;

        .navbar-header {
            a {
                &, &:hover, &:visited, &:active {
                    color: $linkColor
                }
            }
        }

        .navbar-nav #about {
            color: $linkColor;
        }
    }

    @media (max-width: 767px) {
        .navbar-toggle, .navbar-collapse, .navbar-form, .navbar-link{
            background-color: $greyColor;
            border-color: $greyColor;
        }
    }
    
}