$position : 5px;
$fontSize : 12px;
$red : #dd0000;

.StatListItem {
    margin: auto;
    width: 97%;
    padding: 0;

    #removeStyle {
        position : absolute;
        float: right;
        top: $position;
        right: $position;
        font-size: $fontSize;
        color: $red;

        &:hover {
            text-decoration: underline;
        }
    }

    #graphStyle {
        position : absolute;
        float: right;
        bottom: $position;
        right: $position;
        font-size: $fontSize;
        color: #ccc;

        &:hover {
            text-decoration: underline;
        }
    }

    #error {
        color: $red;
    }
}